<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>hello from handlebars</h1>
    <p style="color:red">You have a new message</p>
    <h3>Contact Details</h3>
    <ul>
      <li>Animal reference: {{animalId}}</li>
      <li>Name: {{name}}</li>
      <li>Phone: {{phone}}</li>
      <li>Email: {{email}}</li>
    </ul>
    <h3>Message</h3>
    <p>${{message}}</p>
  </body>
</html>